{
  "include": [
    "routes/**/*.js",
    "models/**/*.js",
    "app.js"
  ],
  "require": [
    "babel-register"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "per-file": false,
  "lines": 50,
  "statements": 55,
  "functions": 30,
  "branches": 20,
  "sourceMap": false,
  "instrument": false
}
