{
  "include": [
    "routes/**/*.js",
    "models/**/*.js",
    "app.js"
  ],
  "require": [
    "babel-register"
  ],
  "reporter": [
    "lcov",
    "text-summary"
  ],
  "check-coverage": true,
  "per-file": false,
  "lines": 40,
  "statements": 40,
  "functions": 10,
  "branches": 5,
  "sourceMap": false,
  "instrument": false
}
